@using Petsmart.Models

@{ 
    var lsp = ViewData["LoaiSP"] as LoaiSanPham;
    var ctsp = ViewData["ChiTietSP"] as SanPham;
}

<div class="page-heading">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                @{
                 
                            <div class="col-xs-12">
                                <ul>
                                    <li class="home"> <a href="@Url.Action("Index", "Home")" title="Đến trang chủ">Home</a> <span>—› </span> </li>
                                    <li class="category1599"> <a href="@Url.Action("Index", "Categories", new { id = @lsp.MaLoaiSanPham })" title="">@lsp.TenLoaiSanPham<span>—› </span></a> </li>
                                    <li class="category1600"> <a href="@Url.Action("Detail", "Products", new { id = @ctsp.MaSanPham })" title="">@ctsp.TenSanPham</a> </li>
                                </ul>
                            </div>
                 
                }

                <!--col-xs-12-->
            </div>
            <!--row-->
        </div>
        <!--container-->
    </div>
    <div class="page-title">
        <h2>Chi tiết sản phẩm</h2>
    </div>
</div>

<div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">
    <div class="main">
        <div class="col-main">
            <!-- Endif Next Previous Product -->
            <div class="product-view wow bounceInUp animated animated" itemscope="" itemtype="http://schema.org/Product" itemid="#product_base" style="visibility: visible;">
                <div id="messages_product_view"></div>
                <!--product-next-prev-->
                <div class="product-essential container">
                    @{
                        
                            <div class="row">
                                <div class="product-next-prev"> <a class="product-next" title="Tiếp" href="#"><span></span></a> <a class="product-prev" title="Lui" href="#"><span></span></a> </div>
                                <form action="" method="post" id="product_addtocart_form">
                                    <!--End For version 1, 2, 6 -->
                                    <!-- For version 3 -->
                                    <div class="product-img-box col-sm-6 col-xs-12">
                                        <div class="new-label new-top-left"> New </div>
                                        <div class="product-image">
                                            <div class="large-image"><a href="~/Content/images/products/@ctsp.HinhURL" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20" style="position: relative; display: block;"> <img src="~/Content/images/products/@ctsp.HinhURL" style="display:block; width:550px; height:400px;"> </a> <div class="mousetrap" style="background-image: url(&quot;.&quot;); z-index: 999; position: absolute; width: 550px; height: 400px; left: 0px; top: 0px; cursor: auto;"></div></div>
                                            <div class="flexslider flexslider-thumb">
                                                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                                    <ul class="previews-list slides" style="width: 1400%; transition-duration: 0.6s; transform: translate3d(-268px, 0px, 0px);">
                                                        <li style="width: 100px; float: left; display: block;"><a href="~/Content/images/products/@ctsp.HinhURL" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '/Content/images/products/@ctsp.HinhURL' "><img src="~/Content/images/products/@ctsp.HinhURL" alt="Thumbnail 1" draggable="false"></a></li>
                                                        @{
                                                            foreach (var item in ViewData["HinhAnhSP"] as List<HinhAnhSanPham>)
                                                            {
                                                                <li class="menu_link_images" style="width: 100px; float: left; display: block;"><a href="~/Content/images/products/@item.HinhURL" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '/Content/images/products/@item.HinhURL' "><img src="~/Content/images/products/@item.HinhURL" alt="Thumbnail 1" style ="width:100px; height:80px;"draggable="false"></a></li>
                                                            }
                                                        }
                                                    </ul>
                                                </div><ul class="flex-direction-nav"><li><a class="flex-prev" href="#" tabindex="-1"></a></li><li><a class="flex-next flex-disabled" href="#" tabindex="-1"></a></li></ul>
                                            </div>
                                        </div>

                                        <!-- end: more-images -->
                                    </div>
                                    <!--End For version 1,2,6-->
                                    <!-- For version 3 -->
                                    <div class="product-shop col-sm-6 col-xs-12">

                                        <div class="product-name">
                                            <h1 itemprop="name">@ctsp.TenSanPham</h1>
                                        </div>
                                        <!--product-name-->
                                        <span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:50%"></div>
                                                    </div>
                                                    <p class="rating-links"><a href="#">1 đánh giá</a> <span class="separator">|</span> <a href="#">Thêm đánh giá</a> </p>
                                                </div>
                                            </div>
                                        </span>
                                        <div class="price-block">
                                            <div class="price-box"> <span class="regular-price" id="product-price-123"> <span class="price">@string.Format("{0:0,0}", @ctsp.GiaSanPham) VNĐ</span> </span> </div>
                                            <p class="availability in-stock">
                                                <span>@ctsp.LuotXem</span>
                                            </p>
                                        </div>
                                        <!--price-block-->
                                        <div class="short-description">
                                            <h2>Tổng quát</h2>
                                            <p>@ctsp.MoTa</p>
                                        </div>
                                        <div class="add-to-box">
                                            <div class="add-to-cart">
                                                <!--pull-left-->
                                                @if (@ctsp.SoLuongTon > 0)
                                                {
                                                    <a href="@Url.Action("OrderNow", "ShoppingCart", new { id = @ctsp.MaSanPham })"><button type="button" title="Thêm vào giỏ" class="button btn-cart"><span><i class="icon-basket"></i>Thêm vào giỏ</span></button></a>
                                                }
                                                else
                                                {
                                                  <button type="button" title="" class="button btn-cart"><span><i class="icon-basket"></i>Sản phẩm hết hàng</span></button>
                                                }
                                            </div>
                                            <!--add-to-cart-->
                                            
                                        </div>
                                        <div class="social">
                                            <div class="fb-like" data-href="@Request.Url.AbsoluteUri" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                                        </div>
                                    </div>
                                    <!--product-shop-->
                                    <!--Detail page static block for version 3-->
                                </form>
                            </div>

                            <!--product-essential-->
                            <div class="product-collateral container">
                                <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                                    <li class="active"> <a href="#reviews_tabs" data-toggle="tab">Đánh giá</a> </li>
                                    <li> <a href="#product_tabs_description" data-toggle="tab"> Mô tả sản phẩm </a> </li>
                                </ul>
                                <div id="productTabContent" class="tab-content">
                                    <div class="tab-pane fade active in" id="reviews_tabs">
                                        <div class="std">
                                            <div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="product_tabs_description">
                                        <div class="std">
                                            <p>@ctsp.MoTa</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!--product-collateral-->
                        
                    }
                </div>

                <div class="box-additional">
                    <!-- BEGIN RELATED PRODUCTS -->
                    <div class="related-pro container">
                        <div class="slider-items-products">
                            <div class="new_title center">
                                <h2>Sản phẩm tương tự</h2>
                            </div>
                            <div id="related-slider" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col4 products-grid">

                                    @{
                                        foreach (var item in ViewData["SPTuongTu"] as List<SanPham>)
                                        {
                                            <div class="item">
                                                <div class="item-inner">
                                                    <div class="item-img">
                                                        <div class="item-img-info">
                                                            <a href="@Url.Action("Detail","Products",new { id = @item.MaSanPham})" title="@item.TenSanPham" class="product-image"><img src="~/Content/images/products/@item.HinhURL" alt="@item.TenSanPham"></a>
                                                            <div class="new-label new-top-left">New</div>
                                                            <div class="item-box-hover">
                                                                <div class="box-inner">
                                                                    <div class="product-detail-bnt"><a class="button detail-bnt" type="button"><span>Quick View</span></a></div>
                                                                    <div class="actions"><span class="add-to-links"><a href="#" class="link-wishlist" title="Thêm vào giỏ tạm"><span>Add to Wishlist</span></a> <a href="#" class="link-compare add_to_compare" title="Thêm vào so sánh"><span>Add to Compare</span></a></span> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title"><a href="@Url.Action("Detail","Products",new { id = @item.MaSanPham})" title="@item.TenSanPham">@item.TenSanPham</a> </div>
                                                            <div class="item-content">
                                                                <div class="rating">
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:80%"></div>
                                                                        </div>
                                                                        <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                                    </div>
                                                                </div>
                                                                <div class="item-price">
                                                                    <div class="price-box"><span class="regular-price" id="product-price-1"><span class="price">@string.Format("{0:0,0}", @item.GiaSanPham) VNĐ</span> </span> </div>
                                                                </div>
                                                                <div class="add_cart">
                                                                    <a href="@Url.Action("Detail","Products",new { id = @item.MaSanPham})"><button class="button btn-cart" type="button"><span>Xem chi tiết</span></button></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- end related product -->
                </div>
                <!--box-additional-->
                <!--product-view-->
            </div>
        </div>
        <!--col-main-->
    </div>

