@using Petsmart.Models

<div class="page-heading">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                @{
                    foreach (var item in ViewData["LoaiSP"] as List<LoaiSanPham>)
                    {
                        foreach (var item1 in ViewData["ChitietSP"] as List<SanPham>)
                        {
                            <div class="col-xs-12">
                                <ul>
                                    <li class="home"> <a href="@Url.Action("Index", "Home")" title="Go to Home Page">Home</a> <span>—› </span> </li>
                                    <li class="category1599"> <a href="@Url.Action("Index", "Categories", new { id = @item1.MaLoaiSanPham })" title="">@item.TenLoaiSanPham<span>—› </span></a> </li>
                                    <li class="category1600"> <a href="@Url.Action("Detail", "Products", new { id = @item1.MaSanPham })" title="">@item1.TenSanPham</a> </li>
                                </ul>
                            </div>
                        }
                    }
                }

                <!--col-xs-12-->
            </div>
            <!--row-->
        </div>
        <!--container-->
    </div>
    <div class="page-title">
        <h2>Chi tiết sản phẩm</h2>
    </div>
</div>

<div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">
    <div class="main">
        <div class="col-main">
            <!-- Endif Next Previous Product -->
            <div class="product-view wow bounceInUp animated animated" itemscope="" itemtype="http://schema.org/Product" itemid="#product_base" style="visibility: visible;">
                <div id="messages_product_view"></div>
                <!--product-next-prev-->
                <div class="product-essential container">
                    @{
                        foreach (var item in ViewData["ChiTietSP"] as List<SanPham>)
                        {
                            <div class="row">
                                <div class="product-next-prev"> <a class="product-next" title="Next" href="#"><span></span></a> <a class="product-prev" title="Previous" href="#"><span></span></a> </div>
                                <form action="" method="post" id="product_addtocart_form">
                                    <!--End For version 1, 2, 6 -->
                                    <!-- For version 3 -->
                                    <div class="product-img-box col-sm-6 col-xs-12">
                                        <div class="new-label new-top-left"> New </div>
                                        <div class="product-image">
                                            <div class="large-image"> <a href="images/product-img.jpg" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20" style="position: relative; display: block;"> <img src="~/Content/user/images/@item.HinhURL" style="display: block;"> </a> <div class="mousetrap" style="background-image:url(&quot;.&quot;);z-index:999;position:absolute;width:574px;height:574px;left:0px;top:0px;"></div></div>
                                            <div class="flexslider flexslider-thumb">

                                                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                                    <ul class="previews-list slides" style="width: 1400%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                                        <li style="width: 100px; float: left; display: block;"><a href="~/Content/user/images/product-img.jpg" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'images/product-img.jpg' "><img src="~/Content/user/images/product-img.jpg" alt="Thumbnail 1" draggable="false"></a></li>
                                                        <li style="width: 100px; float: left; display: block;"><a href="~/Content/user/images/product-img.jpg" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'images/product-img.jpg' "><img src="~/Content/user/images/product-img.jpg" alt="Thumbnail 2" draggable="false"></a></li>
                                                        <li style="width: 100px; float: left; display: block;"><a href="~/Content/user/images/product-img.jpg" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'images/product-img.jpg' "><img src="~/Content/user/images/product-img.jpg" alt="Thumbnail 1" draggable="false"></a></li>
                                                        <li style="width: 100px; float: left; display: block;"><a href="~/Content/user/images/product-img.jpg" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'images/product-img.jpg' "><img src="~/Content/user/images/product-img.jpg" alt="Thumbnail 2" draggable="false"></a></li>
                                                        <li style="width: 100px; float: left; display: block;"><a href="~/Content/user/images/product-img.jpg" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'images/product-img.jpg' "><img src="~/Content/user/images/product-img.jpg" alt="Thumbnail 2" draggable="false"></a></li>
                                                        <li style="width: 100px; float: left; display: block;"><a href="~/Content/user/images/product-img.jpg" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'images/product-img.jpg' "><img src="~/Content/user/images/product-img.jpg" alt="Thumbnail 2" draggable="false"></a></li>
                                                        <li style="width: 100px; float: left; display: block;"><a href="~/Content/user/images/product-img.jpg" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'images/product-img.jpg' "><img src="~/Content/user/images/product-img.jpg" alt="Thumbnail 2" draggable="false"></a></li>
                                                    </ul>
                                                </div><ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="#" tabindex="-1"></a></li><li><a class="flex-next" href="#"></a></li></ul>
                                            </div>
                                        </div>
                                        <!-- end: more-images -->
                                    </div>
                                    <!--End For version 1,2,6-->
                                    <!-- For version 3 -->
                                    <div class="product-shop col-sm-6 col-xs-12">

                                        <div class="product-name">
                                            <h1 itemprop="name">@item.TenSanPham</h1>
                                        </div>
                                        <!--product-name-->
                                        <span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:50%"></div>
                                                    </div>
                                                    <p class="rating-links"><a href="#">1 Đánh giá</a> <span class="separator">|</span> <a href="#">Thêm đánh giá</a> </p>
                                                </div>
                                            </div>
                                        </span>
                                        <div class="price-block">
                                            <div class="price-box"> <span class="regular-price" id="product-price-123"> <span class="price">@item.GiaSanPham VNĐ</span> </span> </div>
                                            <p class="availability in-stock">
                                                <link itemprop="availability" href="http://schema.org/InStock">
                                                <span>Còn hàng</span>
                                            </p>
                                        </div>
                                        <!--price-block-->
                                        <div class="short-description">
                                            <h2>Tổng quát</h2>
                                            <p>@item.MoTa</p>
                                        </div>
                                        <div class="add-to-box">
                                            <div class="add-to-cart">
                                                <div class="pull-left">
                                                    <div class="custom pull-left">
                                                        <button onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="increase items-count" type="button"><i class="icon-plus">&nbsp;</i></button>
                                                        <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                                        <button onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty > 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="icon-minus">&nbsp;</i></button>
                                                    </div>
                                                    <!--custom pull-left-->
                                                </div>
                                                <!--pull-left-->
                                                <a href="@Url.Action("OrderNow", "ShoppingCart", new { id = @item.MaSanPham })"><button type="button" title="Thêm vào giỏ" class="button btn-cart"><span><i class="icon-basket"></i>Thêm vào giỏ</span></button></a>
                                            </div>
                                            <!--add-to-cart-->
                                            <div class="email-addto-box">
                                                <p class="email-friend"><a href="#" title="Gửi mail cho bạn bè"><span>Gửi mail cho bạn bè</span></a></p>
                                                <ul class="add-to-links">
                                                    <li> <a class="link-wishlist" href="#" onclick="" title="Thêm vào giỏ tạm"><span>Thêm vào giỏ tạm</span></a> </li>
                                                    <li> <span class="separator">|</span> <a class="link-compare" href="Compare.html" title="Thêm vào đánh giá"><span>Thêm vào đánh giá</span></a> </li>
                                                </ul>
                                                <!--add-to-links-->
                                            </div>
                                            <!--email-addto-box-->
                                        </div>
                                        <!--add-to-box-->
                                        <!-- thm-mart Social Share-->
                                        <div class="social">
                                            <ul class="link">
                                                <li class="fb"> <a href="http://www.facebook.com/" rel="nofollow" target="_blank" style="text-decoration:none;"> </a> </li>
                                                <li class="linkedin"> <a href="http://www.linkedin.com/" rel="nofollow" target="_blank" style="text-decoration:none;"> </a> </li>
                                                <li class="tw"> <a href="http://twitter.com/" rel="nofollow" target="_blank" style="text-decoration:none;"> </a> </li>
                                                <li class="pintrest"> <a href="http://pinterest.com/" rel="nofollow" target="_blank" style="text-decoration:none;"> </a> </li>
                                                <li class="googleplus"> <a href="https://plus.google.com/" rel="nofollow" target="_blank" style="text-decoration:none;"> </a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--product-shop-->
                                    <!--Detail page static block for version 3-->
                                </form>
                            </div>

                            <!--product-essential-->
                            <div class="product-collateral container">
                                <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                                    <li class="active"> <a href="#product_tabs_description" data-toggle="tab"> Mô tả sản phẩm </a> </li>
                                    <li><a href="#product_tabs_tags" data-toggle="tab">Gắn thẻ</a></li>
                                    <li> <a href="#reviews_tabs" data-toggle="tab">Đánh giá</a> </li>
                                    <li> <a href="#product_tabs_custom" data-toggle="tab">Tùy chỉnh</a> </li>
                                    <li> <a href="#product_tabs_custom1" data-toggle="tab">Tùy chỉnh 1</a> </li>
                                </ul>
                                <div id="productTabContent" class="tab-content">
                                    <div class="tab-pane fade in active" id="product_tabs_description">
                                        <div class="std">
                                            <p>@item.MoTa</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="product_tabs_tags">
                                        <div class="box-collateral box-tags">
                                            <div class="tags">
                                                <form id="addTagForm" action="#" method="get">
                                                    <div class="form-add-tags">
                                                        <label for="productTagName">Thêm thẻ:</label>
                                                        <div class="input-box">
                                                            <input class="input-text" name="productTagName" id="productTagName" type="text">
                                                            <button type="button" title="Add Tags" class=" button btn-add" onclick="submitTagForm()"> <span>Thêm thẻ</span> </button>
                                                        </div>
                                                        <!--input-box-->
                                                    </div>
                                                </form>
                                            </div>
                                            <!--tags-->
                                            <p class="note">Sử dụng dấu cách để phân biệt thẻ.</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="reviews_tabs">
                                        <div class="box-collateral box-reviews" id="customer-reviews">
                                            <div class="box-reviews1">
                                                <div class="form-add">
                                                    <form id="review-form" method="post" action="">
                                                        <h3>Hãy viết đánh giá của bạn.</h3>
                                                        <fieldset>
                                                            <h4>Bạn bình chọn cho sản phẩm này mấy sao? <em class="required">*</em></h4>
                                                            <span id="input-message-box"></span>
                                                            <table id="product-review-table" class="data-table">
                                                                <colgroup>
                                                                    <col>
                                                                    <col width="1">
                                                                    <col width="1">
                                                                    <col width="1">
                                                                    <col width="1">
                                                                    <col width="1">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr class="first last">
                                                                        <th>&nbsp;</th>
                                                                        <th><span class="nobr">1 *</span></th>
                                                                        <th><span class="nobr">2 *</span></th>
                                                                        <th><span class="nobr">3 *</span></th>
                                                                        <th><span class="nobr">4 *</span></th>
                                                                        <th><span class="nobr">5 *</span></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr class="first odd">
                                                                        <th>Giá</th>
                                                                        <td class="value"><input type="radio" class="radio" value="11" id="Price_1" name="ratings[3]"></td>
                                                                        <td class="value"><input type="radio" class="radio" value="12" id="Price_2" name="ratings[3]"></td>
                                                                        <td class="value"><input type="radio" class="radio" value="13" id="Price_3" name="ratings[3]"></td>
                                                                        <td class="value"><input type="radio" class="radio" value="14" id="Price_4" name="ratings[3]"></td>
                                                                        <td class="value last"><input type="radio" class="radio" value="15" id="Price_5" name="ratings[3]"></td>
                                                                    </tr>
                                                                    <tr class="even">
                                                                        <th>Giá trị</th>
                                                                        <td class="value"><input type="radio" class="radio" value="6" id="Value_1" name="ratings[2]"></td>
                                                                        <td class="value"><input type="radio" class="radio" value="7" id="Value_2" name="ratings[2]"></td>
                                                                        <td class="value"><input type="radio" class="radio" value="8" id="Value_3" name="ratings[2]"></td>
                                                                        <td class="value"><input type="radio" class="radio" value="9" id="Value_4" name="ratings[2]"></td>
                                                                        <td class="value last"><input type="radio" class="radio" value="10" id="Value_5" name="ratings[2]"></td>
                                                                    </tr>
                                                                    <tr class="last odd">
                                                                        <th>Chất lượng</th>
                                                                        <td class="value"><input type="radio" class="radio" value="1" id="Quality_1" name="ratings[1]"></td>
                                                                        <td class="value"><input type="radio" class="radio" value="2" id="Quality_2" name="ratings[1]"></td>
                                                                        <td class="value"><input type="radio" class="radio" value="3" id="Quality_3" name="ratings[1]"></td>
                                                                        <td class="value"><input type="radio" class="radio" value="4" id="Quality_4" name="ratings[1]"></td>
                                                                        <td class="value last"><input type="radio" class="radio" value="5" id="Quality_5" name="ratings[1]"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <input type="hidden" value="" class="validate-rating" name="validate_rating">
                                                            <div class="review1">
                                                                <ul class="form-list">
                                                                    <li>
                                                                        <label class="required" for="nickname_field">Nickname<em>*</em></label>
                                                                        <div class="input-box">
                                                                            <input type="text" class="input-text" id="nickname_field" name="nickname">
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <label class="required" for="summary_field">Tóm tắt<em>*</em></label>
                                                                        <div class="input-box">
                                                                            <input type="text" class="input-text" id="summary_field" name="title">
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="review2">
                                                                <ul>
                                                                    <li>
                                                                        <label class="required label-wide" for="review_field">Đánh giá<em>*</em></label>
                                                                        <div class="input-box">
                                                                            <textarea rows="3" cols="5" id="review_field" name="detail"></textarea>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                                <div class="buttons-set">
                                                                    <button class="button submit" title="Submit Review" type="submit"><span>Xác nhận Đánh giá</span></button>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="box-reviews2">
                                                <h3>Đánh giá của khách hàng</h3>
                                                <div class="box visible">
                                                    <ul>
                                                        <li>
                                                            <table class="ratings-table">
                                                                <colgroup>
                                                                    <col width="1">
                                                                    <col>
                                                                </colgroup>
                                                                <tbody>
                                                                    <tr>
                                                                        <th>Giá trị</th>
                                                                        <td>
                                                                            <div class="rating-box">
                                                                                <div class="rating" style="width:100%;"></div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Chất lượng</th>
                                                                        <td>
                                                                            <div class="rating-box">
                                                                                <div class="rating" style="width:100%;"></div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Giá</th>
                                                                        <td>
                                                                            <div class="rating-box">
                                                                                <div class="rating" style="width:100%;"></div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div class="review">
                                                                <h6><a href="#">Tuyệt vời</a></h6>
                                                                <small>Review by <span>Nhanh Phạm </span>on 4/4/2017 </small>
                                                                <div class="review-txt"> Tôi đã mua cho cún của mình dùng. Cảm giác rất thơm ngon mà tôi cũng muốn thử.</div>
                                                            </div>
                                                        </li>
                                                        <li class="even">
                                                            <table class="ratings-table">
                                                                <colgroup>
                                                                    <col width="1">
                                                                    <col>
                                                                </colgroup>
                                                                <tbody>
                                                                    <tr>
                                                                        <th>Giá trị</th>
                                                                        <td>
                                                                            <div class="rating-box">
                                                                                <div class="rating" style="width:100%;"></div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Chất lượng</th>
                                                                        <td>
                                                                            <div class="rating-box">
                                                                                <div class="rating" style="width:100%;"></div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Giá</th>
                                                                        <td>
                                                                            <div class="rating-box">
                                                                                <div class="rating" style="width:80%;"></div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div class="review">
                                                                <h6><a href="#/catalog/product/view/id/60/">Thật tuyệt</a></h6>
                                                                <small>Review by <span>Thinh Trần </span>on 4/4/2017 </small>
                                                                <div class="review-txt"> Cún cưng nhà tôi thích sản phẩm này và tôi cũng vậy </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <table class="ratings-table">
                                                                <colgroup>
                                                                    <col width="1">
                                                                    <col>
                                                                </colgroup>
                                                                <tbody>
                                                                    <tr>
                                                                        <th>Giá trị</th>
                                                                        <td>
                                                                            <div class="rating-box">
                                                                                <div class="rating" style="width:100%;"></div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Chất lượng</th>
                                                                        <td>
                                                                            <div class="rating-box">
                                                                                <div class="rating" style="width:100%;"></div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Giá</th>
                                                                        <td>
                                                                            <div class="rating-box">
                                                                                <div class="rating" style="width:80%;"></div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div class="review">
                                                                <h6><a href="#/catalog/product/view/id/59/">Tốt</a></h6>
                                                                <small>Review by <span>PewPew </span>on 4/4/2017 </small>
                                                                <div class="review-txt"> Chú chó nhà tôi trông có vẻ hạnh phúc khi sử dụng. </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="actions"> <a class="button view-all" id="revies-button" href="#"><span><span>Xem tất cả</span></span></a> </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="product_tabs_custom">
                                        <div class="product-tabs-content-inner clearfix">
                                            <p>Sản phẩm chất lượng cao.</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="product_tabs_custom1">
                                        <div class="product-tabs-content-inner clearfix">
                                            <p>Sản phẩm chất lượng cao.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                <!--product-collateral-->
                        }
                    }
                </div>

                <div class="box-additional">
                    <!-- BEGIN RELATED PRODUCTS -->
                    <div class="related-pro container">
                        <div class="slider-items-products">
                            <div class="new_title center">
                                <h2>Sản phẩm tương tự</h2>
                            </div>
                            <div id="related-slider" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col4 products-grid">
                                    
        @{
            foreach (var item in ViewData["SPTuongTu"] as List<SanPham>)
            {
                                <div class="item">
                                                <div class="item-inner">
                                                    <div class="item-img">
                                                        <div class="item-img-info">
                                                            <a href="@Url.Action("Detail","Products",new { id = @item.MaSanPham})" title="Retis lapen casen" class="product-image"><img src="~/Content/user/images/@item.HinhURL" alt="@item.TenSanPham"></a>
                                                            <div class="new-label new-top-left">New</div>
                                                            <div class="item-box-hover">
                                                                <div class="box-inner">
                                                                    <div class="product-detail-bnt"><a class="button detail-bnt" type="button"><span>Quick View</span></a></div>
                                                                    <div class="actions"><span class="add-to-links"><a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> <a href="#" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title"><a href="@Url.Action("Detail","Products",new { id = @item.MaSanPham})" title="Retis lapen casen">@item.TenSanPham</a> </div>
                                                            <div class="item-content">
                                                                <div class="rating">
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:80%"></div>
                                                                        </div>
                                                                        <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                                    </div>
                                                                </div>
                                                                <div class="item-price">
                                                                    <div class="price-box"><span class="regular-price" id="product-price-1"><span class="price">@item.GiaSanPham VNĐ</span> </span> </div>
                                                                </div>
                                                                <div class="add_cart">
                                                                    <a href="@Url.Action("Detail","Products",new { id = @item.MaSanPham})"><button class="button btn-cart" type="button"><span>Xem chi tiết</span></button></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
            }
        }
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- end related product -->
                </div>
                <!--box-additional-->
                <!--product-view-->
            </div>
        </div>
        <!--col-main-->
    </div>

