@using Petsmart.Models;
@if(Session["admin"] == null)
{
    Response.Redirect("~/Home");
}
@{ 
    TaiKhoan ad = Session["admin"] as TaiKhoan;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="~/Content/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/admin/css/nifty.min.css" rel="stylesheet" />
    <!--Nifty Stylesheet [ REQUIRED ]-->

    <link href="~/Content/admin/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--Switchery [ OPTIONAL ]-->
    <link href="~/Content/admin/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="~/Content/admin/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <!--Demo [ DEMONSTRATION ]-->
    <!--Font Awesome [ OPTIONAL ]-->
    <link href="~/Content/admin/css/demo/nifty-demo.min.css" rel="stylesheet" />
    <script src="~/Content/admin/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <!--SCRIPT-->
    <!--=================================================-->
    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link href="~/Content/admin/plugins/pace/pace.min.css" rel="stylesheet" />
    <script src="~/Content/admin/plugins/pace/pace.min.js"></script>

    <!--lib alert -->
    <link href="~/Content/lib_alert/sweetalert.css" rel="stylesheet" />
    <script src="~/Content/lib_alert/sweetalert.min.js"></script>
    <!--



    -->

</head>
<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
    <div id="container" class="effect mainnav-lg">
        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar">
            <div id="navbar-container" class="boxed">
                <!--Brand logo & name-->
                <!--================================-->
                <div class="navbar-header">
                    <a href="/AHome" class="navbar-brand">
                        <img src="~/Content/admin/img/logo.png" alt="Nifty Logo" class="brand-icon" style="margin: 5px; margin-right: 15px;">
                        <div class="brand-title" style="padding: 10px;">
                            <span class="brand-text">PetsShop</span>
                        </div>
                    </a>
                </div>
                <!--================================-->
                <!--End brand logo & name-->
                <!--Navbar Dropdown-->
                <!--================================-->
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links pull-left">
                        <!--Navigation toogle button-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="/AHome">
                                <i class="fa fa-navicon fa-lg"></i>
                            </a>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End Navigation toogle button-->
                        <!--Notification dropdown-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                <i class="fa fa-bell fa-lg"></i>
                                <span class="badge badge-header badge-danger">5</span>
                            </a>
                            <!--Notification dropdown menu-->
                            <div class="dropdown-menu dropdown-menu-md with-arrow">
                                <div class="pad-all bord-btm">
                                    <p class="text-lg text-muted text-thin mar-no">Bạn có 3 đơn hàng mới.</p>
                                </div>
                                <div class="nano scrollable">
                                    <div class="nano-content">
                                        <ul class="head-list">
                                            <li>
                                                <a href="#" class="media">
                                                    <div class="media-left">
                                                        <img src="~/Content/admin/img/products/dog-sickbay1.jpg" alt="Profile Picture" class="img-circle img-sm">
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="text-nowrap">Tên khách hàng</div>
                                                        <small class="text-muted">Thời gian</small>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="media">
                                                    <div class="media-left">
                                                        <img src="~/Content/admin/img/products/dog-sickbay1.jpg" alt="Profile Picture" class="img-circle img-sm">
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="text-nowrap">Tên khách hàng</div>
                                                        <small class="text-muted">Thời gian</small>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Dropdown footer-->
                                <div class="pad-all bord-top">
                                    <a href="#" class="btn-link text-dark box-block">
                                        <i class="fa fa-angle-right fa-lg pull-right"></i>Xem tất cả thông báo
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End notifications dropdown-->
                        <!--Mega dropdown-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End mega dropdown-->
                    </ul>
                    <ul class="nav navbar-top-links pull-right">
                        <li id="dropdown-user" class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="pull-right">
                                    <img class="img-circle img-user media-object" src="~/Content/admin/img/av1.png" alt="Profile Picture">
                                </span>
                                <div class="username hidden-xs">@ad.TenHienThi</div>
                            </a>

                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right with-arrow panel-default">
                                <!-- Dropdown heading  -->
                                <div class="pad-all bord-btm">
                                    <p class="text-lg text-muted text-thin mar-btm">Thông tin tài khoản</p>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar" style="width: 100%;">
                                            <span class="sr-only">70%</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- User dropdown menu -->
                                <ul class="head-list">
                                    <li>
                                        <a href="@Url.Action("Setting","AHome")">
                                            <i class="fa fa-user fa-fw fa-lg" style="color:#272822"></i> Thông tin
                                        </a>
                                    </li>
                                   @{ Html.RenderAction("getInfoShopLayout", "LayoutAdmin", null); }
                                    <li>
                                        <a href="@Url.Action("Setting","AHome")">
                                            <i class="fa fa-gear fa-fw fa-lg"></i> Cài đặt
                                        </a>
                                    </li>
                                </ul>
                                <!-- Dropdown footer -->
                                <div class="pad-all text-right">
                                    <a href="@Url.Action("Logout","AHome")" class="btn btn-primary">
                                        <i class="fa fa-sign-out fa-fw"></i> Đăng xuất
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End user dropdown-->
                    </ul>
                </div>
                <!--================================-->
                <!--End Navbar Dropdown-->
            </div>
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->
        <div class="boxed">
            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">

                @RenderBody()

            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->
            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <div id="mainnav">
                    <!--Shortcut buttons-->
                    <!--================================-->
                    <div id="mainnav-shortcut">
                        <ul class="list-unstyled">
                            <li class="col-xs-4" data-content="Additional Sidebar">
                                <a id="demo-toggle-aside" class="shortcut-grid" href="#">
                                    <i class="fa fa-magic"></i>
                                </a>
                            </li>
                            <li class="col-xs-4" data-content="Notification">
                                <a id="demo-alert" class="shortcut-grid" href="#">
                                    <i class="fa fa-bullhorn"></i>
                                </a>
                            </li>
                            <li class="col-xs-4" data-content="Page Alerts">
                                <a id="demo-page-alert" class="shortcut-grid" href="#">
                                    <i class="fa fa-bell"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--================================-->
                    <!--End shortcut buttons-->
                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">
                                <ul id="mainnav-menu" class="list-group">

                                    <!--Category name-->
                                    <li class="list-header">Danh mục</li>

                                    <!--Menu list item-->
                                    <li>
                                        <a href="@Url.Action("Index","AHome")">
                                            <i class="fa fa-dashboard"></i>
                                            <span class="menu-title">
                                                <strong>Trang chủ</strong>
                                                <span class="label label-success pull-right">Top</span>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("Index","AProducts")">
                                            <i class="fa fa-building-o"></i>
                                            <span class="menu-title">
                                                <strong>Sản phẩm</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","ACategories")">
                                            <i class="fa fa-building-o"></i>
                                            <span class="menu-title">
                                                <strong>Loại sản phẩm</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","APartner")">
                                            <i class="fa fa-users"></i>
                                            <span class="menu-title">
                                                <strong>Đối tác</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","AOrders")">
                                            <i class="fa fa-paper-plane"></i>
                                            <span class="menu-title">
                                                <strong>Đơn hàng</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","AAcount")">
                                            <i class="fa fa-user"></i>
                                            <span class="menu-title">
                                                <strong>Khách hàng</strong>
                                            </span>
                                        </a>
                                    </li>

                                    <!--Menu list item-->

                                    <li class="list-divider"></li>

                                    <!--Category name-->
                                    <li class="list-header">Nội Dung</li>

                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-info-circle"></i>
                                            <span class="menu-title">Giới thiệu</span>
                                            <i class="arrow"></i>
                                        </a>
                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="layouts-aside-right-side.html"><i class="fa fa-users"></i>Về chúng tôi</a></li>
                                            <li><a href="layouts-aside-right-side.html"><i class="fa fa-archive"></i>Liên hệ</a></li>
                                            <li><a href="layouts-aside-right-side.html"><i class="fa fa-calendar"></i>Điều khoản</a></li>
                                            <li><a href="layouts-aside-right-side.html"><i class="fa fa-question"></i>Hướng dẫn mua hàng</a></li>
                                            <li><a href="layouts-aside-right-side.html"><i class="fa fa-user-plus"></i>Tuyển dụng</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","AHome")">
                                            <i class="fa fa-line-chart"></i>
                                            <span class="menu-title">Thống kê</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="charts.html">
                                            <i class="fa fa-cogs"></i>
                                            <span class="menu-title">Cấu hình website</span>
                                        </a>
                                    </li>

                                    <!--Menu list item-->
                                    <!--Menu list item-->
                                </ul>

                                <!--Widget-->
                                <!--================================-->
                                <!--================================-->
                                <!--End widget-->
                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->
                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->
            <!--ASIDE-->
            <!--===================================================-->
            <!--===================================================-->
            <!--END ASIDE-->
        </div>

        <!-- FOOTER -->
        <!--===================================================-->
        <footer id="footer">
            <!-- Visible when footer positions are fixed -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Visible when footer positions are static -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="hide-fixed pull-right pad-rgt"></div>

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Remove the class name "show-fixed" and "hide-fixed" to make the content always appears. -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <p class="pad-lft">&#0169; 2017 PetsShop</p>

        </footer>
        <!--===================================================-->
        <!-- END FOOTER -->
        <!-- SCROLL TOP BUTTON -->
        <!--===================================================-->
        <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
        <!--===================================================-->

    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <!-- SETTINGS - DEMO PURPOSE ONLY -->
    <!--===================================================-->
    <!--===================================================-->
    <!-- END SETTINGS -->
    <!--JAVASCRIPT-->
    <!--=================================================-->
    <!--jQuery [ REQUIRED ]-->
    <script src="~/Content/admin/js/nifty.min.js"></script>
    <script src="~/Content/admin/js/bootstrap.min.js"></script>
    <!--BootstrapJS [ RECOMMENDED ]-->
    <!--Fast Click [ OPTIONAL ]-->
    <script src="~/Content/admin/plugins/fast-click/fastclick.min.js"></script>
    <!--Nifty Admin [ RECOMMENDED ]-->
    <!--Switchery [ OPTIONAL ]-->
    <script src="~/Content/admin/plugins/switchery/switchery.min.js"></script>
    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="~/Content/admin/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <!--Demo script [ DEMONSTRATION ]-->
    <script src="~/Content/admin/js/demo/nifty-demo.min.js"></script>

    <!--      Chart                  -->

    <script src="~/Content/admin/plugins/fast-click/fastclick.min.js"></script>
    <script src="~/Content/admin/plugins/morris-js/morris.min.js"></script>
    <script src="~/Content/admin/plugins/morris-js/raphael-js/raphael.min.js"></script>

    <!--Sparkline [ OPTIONAL ]-->
    <script src="~/Content/admin/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Flot Chart [ OPTIONAL ]-->
    <script src="~/Content/admin/plugins/flot-charts/jquery.flot.min.js"></script>
    <script src="~/Content/admin/plugins/flot-charts/jquery.flot.pie.min.js"></script>
    <script src="~/Content/admin/plugins/flot-charts/jquery.flot.resize.min.js"></script>
    <!--Flot Pie Chart [ OPTIONAL ]-->
    <!--Gauge js [ OPTIONAL ]-->
    <!--Easy Pie Chart [ OPTIONAL ]-->
    <script src="~/Content/admin/plugins/easy-pie-chart/jquery.easypiechart.min.js"></script>
    <!--Demo script [ DEMONSTRATION ]-->
    <!--Charts [ SAMPLE ]-->
</body>
</html>
