<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Flavours Home Page</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
    <meta name="description" content="Default Description">
    <meta name="keywords" content="fashion, store, E-commerce">
    <meta name="robots" content="*">
    <link rel="icon" href="#" type="image/x-icon">
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <link href="~/Content/user/stylesheet/flexslider.css" rel="stylesheet" />
    <!-- CSS Style -->
    <link href="~/Content/user/stylesheet/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/user/stylesheet/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/user/stylesheet/revslider.css" rel="stylesheet" />
    <link href="~/Content/user/stylesheet/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/user/stylesheet/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/user/stylesheet/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/user/stylesheet/jquery.mobile-menu.css" rel="stylesheet" />
    <link href="~/Content/user/stylesheet/style.css" rel="stylesheet" />
    <link href="~/Content/user/stylesheet/responsive.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">

</head>
<body>
    @using Petsmart.Models;
    @using Petsmart.Controllers;
    <!--page-->
    <!-- Mobile Menu-->
    @{
        decimal tongtien = 0;
        int count = 0;
        List<ItemCart> cart = new List<ItemCart>();
        if (Session["cart"] != null)
        {
            cart = (List<ItemCart>)Session["cart"];
            count = cart.Count;
            foreach (ItemCart item in cart)
            {
                tongtien += item.Sp.GiaSanPham * item.Soluong;
            }
        }
    }
    <div id="page">
        <header>
            <div class="header-banner">
                <div class="assetBlock">
                    <div style="height: 20px; overflow: hidden;" id="slideshow">
                        <p style="display: block;">TIN NÓNG! - <span>50%</span> CHUẨN BỊ MÙA HÈ RỰC RỠ! &gt;</p>
                        <p style="display: none;">GIẢM TỪ <span>40%</span> SỐ LƯỢNG CÓ HẠN &gt;</p>
                    </div>
                </div>
            </div>
            <div id="header">
                <div class="header-container container">
                    <div class="row">
                        <div class="logo">
                            <a href="index.html" title="Flavours HTML">
                                <!-- <img src="~/Content/user/images/404-img.png" /> -->
                                <div><img src="~/Content/user/images/logo.png" alt="Flavours Store"></div>
                            </a>
                        </div>
                        <div class="fl-nav-menu">

                            <nav>
                                <div class="mm-toggle-wrap">
                                    <div class="mm-toggle"><i class="icon-align-justify"></i><span class="mm-label">Menu</span> </div>
                                </div>
                                <div class="nav-inner">
                                    <!-- BEGIN NAV -->
                                    <ul id="nav" class="hidden-xs">
                                        <li id="nav-home" class="level0 parent drop-menu"><a class="level-top active" href="@Url.Action("Index", "Home")"><span>TRANG CHỦ</span></a></li>
                                        @*<li class="mega-menu">*@
                                        @{ Html.RenderAction("getMenu", "LayoutUser", null); }
                                        @*</li>*@
                                        <li class="fl-custom-tabmenulink mega-menu">
                                            <a href="#" class="level-top"> <span>KHUYẾN MÃI</span> </a>
                                            <div class="level0-wrapper fl-custom-tabmenu" style="left: 0px; display: none;">
                                                <div class="container">
                                                    <div class="header-nav-dropdown-wrapper clearer">
                                                        <div class="grid12-3">
                                                            <div><img src="~/Content/user/images/custom-block.png" alt="custom-image"></div>
                                                            <h4 class="heading">GIẢM GIÁ ĐẾN 30%</h4>
                                                            <p>Giảm các sản phẩm từ 15-30% trong dịp lễ Valentine.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <!--nav-->
                                </div>
                            </nav>
                        </div>
                        <!--row-->
                    </div>
                    <div class="fl-header-right">
                        <div class="fl-links">
                            <div class="no-js">
                                <a title="Company" class="clicker"></a>
                                <div class="fl-nav-links">
                                    <div class="language-currency">
                                        <div class="fl-language">
                                            <ul class="lang">
                                                <li><a href="#"> <img src="~/Content/user/images/english.png" alt="English"> <span>English</span> </a></li>
                                                <li><a href="#"> <img src="~/Content/user/images/francais.png" alt="French"> <span>French</span> </a></li>
                                                <li><a href="#"> <img src="~/Content/user/images/german.png" alt="German"> <span>German</span> </a></li>
                                            </ul>
                                        </div>
                                        <!--fl-language-->
                                        <!-- END For version 1,2,3,4,6 -->
                                        <!-- For version 1,2,3,4,6 -->
                                        <div class="fl-currency">
                                            <ul class="currencies_list">
                                                <li><a href="#" title="EGP"> £</a></li>
                                                <li><a href="#" title="EUR"> €</a></li>
                                                <li><a href="#" title="USD"> $</a></li>
                                            </ul>
                                        </div>
                                        <!--fl-currency-->
                                        <!-- END For version 1,2,3,4,6 -->
                                    </div>
                                    <ul class="links">
                                        <li><a href="dashboard.html" title="My Account">Tài khoản của tôi</a></li>
                                        <li><a href="wishlist.html" title="Wishlist">Giỏ hàng tạm</a></li>
                                        <li><a href="checkout.html" title="Checkout">Thanh toán</a></li>
                                        <li><a href="blog.html" title="Blog"><span>Bài viết</span></a></li>
                                        <li class="last"><a href="login.html" title="Login"><span>Đăng nhập</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="fl-cart-contain">
                            <div class="mini-cart">
                                <div class="basket"> <a href="@Url.Action("ViewCart", "ShoppingCart")"><span>@count</span></a> </div>
                                <div class="fl-mini-cart-content" style="display: none;">
                                    <div class="block-subtitle">
                                        <div class="top-subtotal">@count sản phẩm, <span class="price">@string.Format("{0:0,0}", @tongtien) VNĐ<span> </div>
                                        <!--top-subtotal-->
                                        <!--pull-right-->
                                    </div>
                                    <!--block-subtitle-->
                                    <ul class="mini-products-list" id="cart-sidebar" style="min-width:200px;">
                                        @if (Session["cart"] != null)
                                        {
                                            foreach (var item in cart)
                                            {
                                            <li class="item first">
                                                <div class="item-inner">
                                                    <a class="product-image" title="timi &amp; leslie Sophia Diaper Bag, Lemon Yellow/Shadow White" href="@Url.Action("Detail","Products",new { id = @item.Sp.MaSanPham})"><img alt="timi &amp; leslie Sophia Diaper Bag, Lemon Yellow/Shadow White" src="~/Content/user/images/@item.Sp.HinhURL"></a>
                                                    <div class="product-details">
                                                        <div class="access">
                                                        <a class="btn-remove1" title="Remove This Item" href="@Url.Action("RemoveCart","ShoppingCart", new { id = @item.Sp.MaSanPham })">Remove</a>
                                                         </div>
                                                        <!--access-->
                                                        <strong>@item.Soluong</strong> x <span class="price">@string.Format("{0:0,0}",@item.Sp.GiaSanPham) VNĐ</span>
                                                        <p class="product-name"><a href="@Url.Action("Detail","Products",new { id = @item.Sp.MaSanPham})">@item.Sp.TenSanPham</a></p>
                                                    </div>
                                                </div>
                                            </li>
                                            }
                                        }
                                    </ul>
                                    @if (count != 0)
                                    {
                                         <div class="actions">
                                            <a href="@Url.Action("CheckOut","ShoppingCart")"><button class="btn-checkout" title="Checkout" type="button" onClick="window.location=checkout.html"><span>Thanh toán</span></button></a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="actions">
                                            <a href="@Url.Action("Index","Home")"><button class="button btn-continue" title="Checkout" type="button"><span>Tiếp tục mua sắm</span></button></a>
                                        </div>
                                    } 
                                    <!--actions-->
                                </div>
                                <!--fl-mini-cart-content-->
                            </div>
                        </div>
                        <!--mini-cart-->
                        <div class="collapse navbar-collapse">

                                <div class="input-group">
@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "navbar-form", @id = "formSearch", @role = "search" }))
{
                                    <input type="text" name="searchString" id="" class="form-control" placeholder="Tìm kiếm theo tên sản phẩm">
                                    <span class="input-group-btn">
                                        <button type="submit" class="search-btn"><span class="glyphicon glyphicon-search"> <span class="sr-only">Tìm kiếm</span> </span></button>
                                    </span>
}
                                    
                                </div>                          
                        </div>
                        <!--links-->
                    </div>
                </div>
            </div>
        </header>
        <!--container-->
        <div id="container">
            @RenderBody()

        </div>

        <div class="our-features-box wow bounceInUp animated animated">
            <div class="container">
                <ul>
                    <li>
                        <div class="feature-box free-shipping">
                            <div class="icon-truck"></div>
                            <div class="content">Giao hàng miễn phí hóa đơn trên 300.000VNĐ</div>
                        </div>
                    </li>
                    <li>
                        <div class="feature-box need-help">
                            <div class="icon-support"></div>
                            <div class="content">Đường dây nóng liên hệ +841203119971</div>
                        </div>
                    </li>
                    <li>
                        <div class="feature-box money-back">
                            <div class="icon-money"></div>
                            <div class="content">Đảm bảo hoàn tiền khi sản phẩm không hợp lệ</div>
                        </div>
                    </li>
                    <li class="last">
                        <div class="feature-box return-policy">
                            <div class="icon-return"></div>
                            <div class="content">30 ngày dịch vụ tính từ ngày giao hàng</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- For version 1,2,3,4,6 -->

        <footer>
            <!-- BEGIN INFORMATIVE FOOTER -->
            <div class="footer-inner">
                <div class="newsletter-row">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col">
                                <!-- Footer Payment Link -->
                                <div class="payment-accept">
                                    <div><img src="~/Content/user/images/payment-1.png" alt="payment1"> <img src="~/Content/user/images/payment-2.png" alt="payment2"> <img src="~/Content/user/images/payment-3.png" alt="payment3"> <img src="~/Content/user/images/payment-4.png" alt="payment4"></div>
                                </div>
                            </div>
                            <!-- Footer Newsletter -->
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col1">
                                <div class="newsletter-wrap">
                                    <h4>Đăng nhập email</h4>
                                    <form action="#" method="post" id="newsletter-validate-detail1">
                                        <div id="container_form_news">
                                            <div id="container_form_news2">
                                                <input type="text" name="email" id="newsletter1" title="Sign up for our newsletter" class="input-text required-entry validate-email" placeholder="Vui lòng điền địa chỉ Email">
                                                <button type="submit" title="Subscribe" class="button subscribe"><span>Đăng ký</span></button>
                                            </div>
                                            <!--container_form_news2-->
                                        </div>
                                        <!--container_form_news-->
                                    </form>

                                </div>
                                <!--newsletter-wrap-->
                            </div>

                        </div>
                    </div>
                    <!--footer-column-last-->
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12 col-lg-4">
                            <div class="co-info">
                                <div><a href="index.html"><img src="~/Content/user/images/logo.png" alt="footer logo"></a></div>
                                <address>
                                    <div><em class="icon-location-arrow"></em> <span>Đại học Khoa Học Tự Nhiên TP.HCM</span></div>
                                    <div> <em class="icon-mobile-phone"></em><span> +841203119971</span></div>
                                    <div> <em class="icon-envelope"></em><span>support@petsmart.net</span></div>
                                </address>
                                <div class="social">
                                    <ul class="link">
                                        <li class="fb pull-left"><a target="_blank" rel="nofollow" href="#" title="Facebook"></a></li>
                                        <li class="tw pull-left"><a target="_blank" rel="nofollow" href="#" title="Twitter"></a></li>
                                        <li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="#" title="GooglePlus"></a></li>
                                        <li class="rss pull-left"><a target="_blank" rel="nofollow" href="#" title="RSS"></a></li>
                                        <li class="pintrest pull-left"><a target="_blank" rel="nofollow" href="#" title="PInterest"></a></li>
                                        <li class="linkedin pull-left"><a target="_blank" rel="nofollow" href="#" title="Linkedin"></a></li>
                                        <li class="youtube pull-left"><a target="_blank" rel="nofollow" href="#" title="Youtube"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-8 col-xs-12 col-lg-8">
                            <div class="footer-column">
                                <h4>Truy cập nhanh</h4>
                                <ul class="links">
                                    <li class="first"><a title="How to buy" href="/blog/">Bài viết</a></li>
                                    <li><a title="FAQs" href="#">FAQs</a></li>
                                    <li><a title="Payment" href="#">Thanh toán</a></li>
                                    <li><a title="Shipment" href="#">Giao hàng</a></li>
                                    <li><a title="Order" href="#">Đơn đặt hàng</a></li>
                                    <li class="last"><a title="Return policy" href="#">Giỏ hàng</a></li>
                                </ul>
                            </div>
                            <div class="footer-column">
                                <h4>Thông tin cá nhân</h4>
                                <ul class="links">
                                    <li class="first"><a title="Your Account" href="#">Tài khoản</a></li>
                                    <li><a title="Information" href="#">Thông tin</a></li>
                                    <li><a title="Addresses" href="#">Địa chỉ</a></li>
                                    <li><a title="Addresses" href="#">Giảm giá</a></li>
                                    <li><a title="Orders History" href="#">Lịch sử đặt hàng</a></li>
                                    <li class="last"><a title=" Additional Information" href="#">Thông tin thêm</a></li>
                                </ul>
                            </div>
                            <div class="footer-column">
                                <h4>Thông tin shop</h4>
                                <ul class="links">
                                    <li class="first"><a title="Site Map" href="#">Bản đồ</a></li>
                                    <li><a title="Search Terms" href="#">Tìm kiếm cơ bản</a></li>
                                    <li><a title="Advanced Search" href="#">Tìm kiếm nâng cao</a></li>
                                    <li><a title="History" href="#">Thông tin shop</a></li>
                                    <li><a title="History" href="#">Liên hệ</a></li>
                                    <li><a title="Suppliers" href="#">Nhà cung cấp</a></li>
                                </ul>
                            </div>




                        </div>

                        <!--col-sm-12 col-xs-12 col-lg-8-->
                        <!--col-xs-12 col-lg-4-->
                    </div>
                    <!--row-->

                </div>

                <!--container-->
            </div>
            <!--footer-inner-->

            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="row"> </div>
                    </div>
                    <!--row-->
                </div>
                <!--container-->
            </div>
            <!--footer-middle-->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 coppyright">© 2017 Petsmart. All Rights Reserved.</div>

                    </div>
                    <!--row-->
                </div>
                <!--container-->
            </div>
            <!--footer-bottom-->
            <!-- BEGIN SIMPLE FOOTER -->
        </footer>
        <!-- End For version 1,2,3,4,6 -->
    </div>
    <!--page-->
    <!-- Mobile Menu-->
    <div id="mobile-menu">
        <ul>
            <li>
                <div class="home"><a href="#"><i class="icon-home"></i>Home</a> </div>
            </li>
            <li>
                <a href="#">Pages</a>
                <ul>
                    <li><a href="grid.html">Grid</a></li>
                    <li> <a href="list.html">List</a></li>
                    <li> <a href="product-detail.html">Product Detail</a></li>
                    <li> <a href="shopping-cart.html">Shopping Cart</a></li>
                    <li>
                        <a href="checkout.html">Checkout</a>
                        <ul>
                            <li><a href="checkout-method.html">Checkout Method</a></li>
                            <li><a href="checkout-billing-info.html">Checkout Billing Info</a></li>
                        </ul>
                    </li>
                    <li> <a href="wishlist.html">Wishlist</a></li>
                    <li> <a href="dashboard.html">Dashboard</a></li>
                    <li> <a href="multiple-addresses.html">Multiple Addresses</a></li>
                    <li> <a href="about-us.html">About us</a></li>
                    <li>
                        <a href="blog.html">Blog</a>
                        <ul>
                            <li><a href="blog-detail.html">Blog Detail</a></li>
                        </ul>
                    </li>
                    <li><a href="contact-us.html">Contact us</a></li>
                    <li><a href="404error.html">404 Error Page</a></li>
                </ul>
            </li>
            <li>
                <a href="grid.html">Salads‎</a>
                <ul>
                    <li>
                        <a href="grid.html"><span>Bread Salads‎</span></a>
                        <ul>
                            <li> <a href="grid.html"><span>Cappon Magro</span></a> </li>
                            <li> <a href="grid.html"><span>Dakos</span></a> </li>
                            <li> <a href="grid.html"><span>Fattoush</span></a> </li>
                            <li> <a href="grid.html"><span>Panzanella</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="grid.html"><span>Fruit Salads‎</span></a>
                        <ul>
                            <li> <a href="grid.html"><span>Candle Salad</span></a> </li>
                            <li> <a href="grid.html"><span>Frogeye Salad</span></a> </li>
                            <li> <a href="grid.html"><span>Green Papaya Salad</span></a> </li>
                            <li> <a href="grid.html"><span>Waldorf salad</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="grid.html"><span>Salad Dressings</span></a>
                        <ul>
                            <li> <a href="grid.html"><span>Louis Dressings</span></a> </li>
                            <li> <a href="grid.html"><span>French Dressings</span></a> </li>
                            <li> <a href="grid.html"><span>Gingner Dressings</span></a> </li>
                            <li> <a href="grid.html"><span>Italian Dressings</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="grid.html"><span>Leaf Vegetable</span></a>
                        <ul>
                            <li> <a href="grid.html"><span>Fenugreek</span></a> </li>
                            <li> <a href="grid.html"><span>Spinach</span></a> </li>
                            <li> <a href="grid.html"><span>Malva</span></a> </li>
                            <li> <a href="grid.html"><span>Cabbage</span></a> </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="grid.html">Soups</a>
                <ul>
                    <li>
                        <a href="grid.html"><span>Cold Soups</span></a>
                        <ul>
                            <li> <a href="grid.html"><span>Red Bean Soup</span></a> </li>
                            <li> <a href="grid.html"><span>Fruit Soup</span></a> </li>
                            <li> <a href="grid.html"><span>Naengguk</span></a> </li>
                            <li> <a href="grid.html"><span>Borscht</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="grid.html"><span>Cream Soups</span></a>
                        <ul>
                            <li> <a href="grid.html"><span>Chowder</span></a> </li>
                            <li> <a href="grid.html"><span>Asparagus Soup</span></a> </li>
                            <li> <a href="grid.html"><span>Broccoli Soup</span></a> </li>
                            <li> <a href="grid.html"><span>Mushroom Soup</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="grid.html"><span>Vegitable Soups</span></a>
                        <ul>
                            <li> <a href="grid.html"><span>French Onion Soup</span></a> </li>
                            <li> <a href="grid.html"><span>Leek Soup</span></a> </li>
                            <li> <a href="grid.html"><span>Minestrone</span></a> </li>
                            <li> <a href="grid.html"><span>Spring Soup</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="grid.html"><span>Bean Soups</span></a>
                        <ul>
                            <li> <a href="grid.html"><span>Bouneschlupp</span></a> </li>
                            <li> <a href="grid.html"><span>Jókai Bean Soup</span></a> </li>
                            <li> <a href="grid.html"><span>Kwati Soup</span></a> </li>
                            <li> <a href="grid.html"><span>Senate bean</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="grid.html"><span>Bread Soups</span></a>
                        <ul>
                            <li> <a href="grid.html"><span>Tomato Soup</span></a> </li>
                            <li> <a href="grid.html"><span>Manchow Soup</span></a> </li>
                            <li> <a href="grid.html"><span>Sweet Corn Soup</span></a> </li>
                            <li> <a href="grid.html"><span>Shorba Soup</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="grid.html"><span>Chinese Soups</span></a>
                        <ul>
                            <li> <a href="grid.html"><span>Hot & Sour</span></a> </li>
                            <li> <a href="grid.html"><span>Noodle Soup</span></a> </li>
                            <li> <a href="grid.html"><span>Corn Crab Soup</span></a> </li>
                            <li> <a href="grid.html"><span>Sago Soup</span></a> </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="grid.html">Fast Food</a>
                <ul>
                    <li>
                        <a href="grid.html"><span>Indian</span></a>
                        <ul>
                            <li> <a href="grid.html"><span>Aloo Chaat</span></a> </li>
                            <li> <a href="grid.html"><span>Batata Vada</span></a> </li>
                            <li> <a href="grid.html"><span>Kachori</span></a> </li>
                            <li> <a href="grid.html"><span>Panipuri</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="grid.html"><span>Pizza</span></a>
                        <ul>
                            <li> <a href="grid.html"><span>Greek Pizza</span></a> </li>
                            <li> <a href="grid.html"><span>Pizza Rolls</span></a> </li>
                            <li> <a href="grid.html"><span>Grilled Pizza</span></a> </li>
                            <li> <a href="grid.html"><span>Pizza Strips</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="grid.html"><span>McDonald's</span></a>
                        <ul>
                            <li> <a href="grid.html"><span>Kiwiburger</span></a> </li>
                            <li> <a href="grid.html"><span>Happy Meal</span></a> </li>
                            <li> <a href="grid.html"><span>McMuffin</span></a> </li>
                            <li> <a href="grid.html"><span>McGriddles</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="grid.html"><span>Wendy's Foods</span></a>
                        <ul>
                            <li> <a href="grid.html"><span>Bacon Deluxe</span></a> </li>
                            <li> <a href="grid.html"><span>Baconator</span></a> </li>
                            <li> <a href="grid.html"><span>Frescata</span></a> </li>
                            <li> <a href="grid.html"><span>Frosty</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="grid.html"><span>Burger King</span></a>
                        <ul>
                            <li> <a href="grid.html"><span>Big King</span></a> </li>
                            <li> <a href="grid.html"><span>TenderCrisp</span></a> </li>
                            <li> <a href="grid.html"><span>Whopper</span></a> </li>
                            <li> <a href="grid.html"><span>Kuro Burger</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="grid.html"><span>THỎ</span></a>
                        <ul>
                            <li> <a href="grid.html"><span>Hamburgers</span></a> </li>
                            <li> <a href="grid.html"><span> Hot Dogs‎</span></a> </li>
                            <li> <a href="grid.html"><span>American Sandwiches</span></a> </li>
                            <li> <a href="grid.html"><span>Chilean Sandwiches</span></a> </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="grid.html">Sandwiches‎</a></li>
            <li><a href="contact-us.html">Contact Us</a></li>
        </ul>
    </div>
    


    <!-- JavaScript -->
    <script src="~/Content/user/js/jquery.min.js"></script>
    <script src="~/Content/user/js/jquery.flexslider.js"></script>
    <script src="~/Content/user/js/bootstrap.min.js"></script>
    <script src="~/Content/user/js/parallax.js"></script>
    <script src="~/Content/user/js/revslider.js"></script>
    <script src="~/Content/user/js/common.js"></script>
    <script src="~/Content/user/js/jquery.bxslider.min.js"></script>
    <script src="~/Content/user/js/owl.carousel.min.js"></script>
    <script src="~/Content/user/js/jquery.mobile-menu.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('#thm-rev-slider').show().revolution({
                dottedOverlay: 'none',
                delay: 5000,
                startwidth: 0,
                startheight:900,

                hideThumbs: 200,
                thumbWidth: 200,
                thumbHeight: 50,
                thumbAmount: 2,

                navigationType: 'thumb',
                navigationArrows: 'solo',
                navigationStyle: 'round',

                touchenabled: 'on',
                onHoverStop: 'on',

                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,

                spinner: 'spinner0',
                keyboardNavigation: 'off',

                navigationHAlign: 'center',
                navigationVAlign: 'bottom',
                navigationHOffset: 0,
                navigationVOffset: 20,

                soloArrowLeftHalign: 'left',
                soloArrowLeftValign: 'center',
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,

                soloArrowRightHalign: 'right',
                soloArrowRightValign: 'center',
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,

                shadow: 0,
                fullWidth: 'on',
                fullScreen: 'on',

                stopLoop: 'off',
                stopAfterLoops: -1,
                stopAtSlide: -1,

                shuffle: 'off',

                autoHeight: 'on',
                forceFullWidth: 'off',
                fullScreenAlignForce: 'off',
                minFullScreenHeight: 0,
                hideNavDelayOnMobile: 1500,

                hideThumbsOnMobile: 'off',
                hideBulletsOnMobile: 'off',
                hideArrowsOnMobile: 'off',
                hideThumbsUnderResolution: 0,

                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                startWithSlide: 0,
                fullScreenOffsetContainer: ''
            });
        });
    </script>
    
</body>
</html>
