@using Petsmart.Controllers;
@{
    decimal tongtien = 0;
    int count = 0;
    List<ItemCart> cart = new List<ItemCart>();
    if (Session["cart"] != null)
    {
        cart = (List<ItemCart>)Session["cart"];
        count = cart.Count;
        foreach (ItemCart item in cart)
        {
            tongtien += item.Sp.GiaSanPham * item.Soluong;
        }
    }
}
<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title">
                    <h2>Giỏ hàng</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">

    <div class="main">
        <div class="cart wow bounceInUp animated animated" style="visibility: visible;">

            <div class="table-responsive shopping-cart-tbl  container">
                @using (Html.BeginForm("UpdateCart", "ShoppingCart", FormMethod.Post))
                {
                    <input name="form_key" type="hidden" value="EPYwQxF6xoWcjLUr">
                    <fieldset>
                        <table id="shopping-cart-table" class="data-table cart-table table-striped">
                            <colgroup>
                                <col width="1">
                                <col>
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">

                            </colgroup>
                            <thead>
                                <tr class="first last">
                                    <th rowspan="1">&nbsp;</th>
                                    <th rowspan="1"><span class="nobr">Tên sản phẩm</span></th>
                                    <th rowspan="1"></th>
                                    <th class="a-center" colspan="1"><span class="nobr">Đơn giá</span></th>
                                    <th rowspan="1" class="a-center" width="150">Số lượng</th>
                                    <th class="a-center" colspan="1">Tổng cộng</th>
                                    <th rowspan="1" class="a-center">&nbsp;</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr class="first last">
                                    <td colspan="50" class="a-right last">
                                        <a href="@Url.Action("Index", "Home")"><button type="button" title="Continue Shopping" class="button btn-continue"><span>Tiếp tục mua sắm</span></button></a>
                                        <button type="submit" name="update_cart_action" value="update_qty" title="Update Cart" class="button btn-update"><span><span>Cập nhật giỏ hàng</span></span></button>
                                        <a href="@Url.Action("RemoveAll", "ShoppingCart")"><button type="button" name="update_cart_action" value="empty_cart" title="Clear Cart" class="button btn-empty" id="empty_cart_button"><span>Xóa giỏ hàng</span></button></a>
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                                @if (Session["cart"] != null)
                                {
                                    foreach (ItemCart item in (List<ItemCart>)Session["cart"])
                                    {
                                        <tr class="odd">
                                            <td class="image hidden-table"><a href="@Url.Action("Detail", "Products", new { id = @item.Sp.MaSanPham })" title="@item.Sp.TenSanPham" class="product-image"><img src="~/Content/images/products/@item.Sp.HinhURL" width="75" alt="@item.Sp.TenSanPham"></a></td>
                                            <td>
                                                <h2 class="product-name">
                                                    <a href="@Url.Action("Detail", "Products", new { id = @item.Sp.MaSanPham })">@item.Sp.TenSanPham</a>
                                                </h2>
                                            </td>
                                            <td></td>
                                            <td class="a-right hidden-table">
                                                <span class="cart-price">
                                                    <span class="price">@string.Format("{0:0,0}", @item.Sp.GiaSanPham) VNĐ</span>
                                                </span>
                                            </td>
                                            <td class="a-center movewishlist">
                                                <input name="quantity" value="@item.Soluong" type="number" size="4" style="width:60px;" title="quantity" class="input-text qty" maxlength="12">
                                            </td>
                                            <td class="a-right movewishlist">
                                                <span class="cart-price">
                                                    <span class="price">@string.Format("{0:0,0}", (item.Soluong * item.Sp.GiaSanPham)) VNĐ</span>
                                                </span>
                                            </td>
                                            <td class="a-center last">
                                                <a href="@Url.Action("RemoveCart", "ShoppingCart", new { id = @item.Sp.MaSanPham })" title="Remove item" class="button remove-item"><span><span>Remove item</span></span></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </fieldset>
                }
            </div>

            <!-- BEGIN CART COLLATERALS -->

            <form action="" method="post" id="shipping-zip-form">
                <div class="cart-collaterals container">
                    <!-- BEGIN COL2 SEL COL 1 -->
                    <!-- BEGIN TOTALS COL 2 -->
                    <div class="col-sm-4">


                        <div class="shipping">

                            <h3>Thông tin giao hàng</h3>
                            <div class="shipping-form">
                                <ul class="form-list">
                                    <li>
                                        <label for="country" class="required"><em>* </em>Họ và Tên</label>
                                        <div class="input-box">
                                            <input class="input-text validate-postcode" type="text" id="postcode" name="email" value="">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="country" class="required"><em>* </em>SĐT</label>
                                        <div class="input-box">
                                            <input type="text" name="sdt" class="input-text required-entry">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="country" class="required"><em>* </em>Email</label>
                                        <div class="input-box">
                                            <input class="input-text validate-postcode" type="text" id="postcode" name="email" value="">
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="shipping">
                            <h3>Thông tin giao hàng</h3>
                            <div class="shipping-form">
                                <ul class="form-list">
                                    <li>
                                        <label for="country" class="required"><em>* </em>Địa chỉ</label>
                                        <div class="input-box">
                                            <textarea name="diachi" style="width: 100%; height: 180px;line-height: 150%;resize:none;"></textarea>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> <!--col-sm-4-->

                    <div class="col-sm-4">
                        <div class="totals">
                            <h3>Tổng cộng giỏ hàng</h3>
                            <div class="inner" style="font-size:18px;">
                                <table id="shopping-cart-totals-table" class="table shopping-cart-table-total">
                                    <colgroup>
                                        <col>
                                        <col width="1">
                                    </colgroup>
                                    <tfoot>
                                        <tr>
                                            <td style="" class="a-left" colspan="1">
                                                <strong>Thành Tiền</strong>
                                            </td>
                                            <td style="" class="a-right">
                                                <strong><span class="price">@string.Format("{0:0,0}", @tongtien) VNĐ</span></strong>
                                            </td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td style="" class="a-left" colspan="1">
                                                Tổng Tiền
                                            </td>
                                            <td style="" class="a-right">
                                                <span class="price">@string.Format("{0:0,0}", @tongtien) VNĐ</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                <ul class="checkout" >
                                    <li>
                                        <button style="margin-top:50px;" type="submit" class="button btn-proceed-checkout"><span>Tiến hành đặt hàng</span></button>
                                    </li>
                                    
                                </ul>
                            </div><!--inner-->
                        </div><!--totals-->
                    </div> <!--col-sm-4-->
            </form>
            </div> <!--cart-collaterals-->



        </div>  <!--cart-->

    </div><!--main-container-->

</div>