@using Petsmart.Models
@{
    ViewBag.Title = "DetailOrder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{ 
    DonDatHang ddh = ViewData["DonHang"] as DonDatHang;
}
<style>
    .modal-body{
        font-size:14px;
    }
    .label-warning{
        font-size:14px;
    }
</style>
<div id="page-content">
    <!-- Search -->
    <!-- End Search -->
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Xem chi tiết đơn hàng</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-1">

            </div>
            <div class="col-md-9">
                <div class="modal-dialog" style="width:800px;" id="detail_invoice">
                    <div class="modal-content">
                        <!--Modal header-->
                        <div class="modal-header">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="text-bold">@ddh.MaDonDatHang</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <button class="btn btn-default btn-labeled fa fa-print" id="print_invoice">Print</button>
                                </div>
                                <div class="con-md-2">
                                    @{
                                        if (@ddh.MaTinhTrang == 1)
                                        {
                                            <span id="tinh_trang" class="label label-table label-warning" data-id = "@ddh.MaTinhTrang">Chờ duyệt</span>
                                        }
                                        else if (@ddh.MaTinhTrang == 2)
                                        {
                                            <span id="tinh_trang" class="label label-table label-info" data-id = "@ddh.MaTinhTrang">Đang giao</span>
                                        }
                                        else if (@ddh.MaTinhTrang == 4)
                                        {
                                            <span class="label label-table label-danger">Đã hủy</span>
                                        }
                                        else
                                        {
                                            <span id="tinh_trang" class="label label-table label-success" data-id = "@ddh.MaTinhTrang">Đã giao</span>
                                        }
                                    }
                                </div>
                            </div>

                        </div>

                        <!--Modal body-->
                        <div class="modal-body">
                            <table class="table table-hover table-striped table-vcenter mar-top">
                                <thead>
                                    <tr>
                                        <th class="min-w-td">#</th>
                                        <th>Hình đại diện</th>
                                        <th>Tên Sản Phẩm</th>
                                        <th>Số lượng mua</th>
                                        <th>Giá</th>

                                    </tr>
                                </thead>
                                <tbody>
                                        @{
                                            foreach (var item in ViewData["LstChiTietDonHang"] as List<ChiTietDonHang>)
                                            {
                                                <tr>
                                                    <td class="min-w-td">@item.SanPham.MaSanPham</td>
                                                    <td><img src="~/Content/images/products/@item.SanPham.HinhURL" class="img-circle img-sm" /></td>
                                                    <td><a class="btn-link" href="#">@item.SanPham.TenSanPham</a></td>
                                                    <td>@item.SoLuong</td>                                                 
                                                    <td>@string.Format("{0:0,0}", @item.GiaBan)đ</td>
                                                </tr>
                                            }
                                        }
                                </tbody>

                            </table>
                            <div class="text-right">
                                <div class="row">
                                    <span class="col-sm-8 text-2x">Tổng tiền:</span>
                                    <span class="col-sm-4 text-2x text-muted">@string.Format("{0:0,0}",@ddh.TongThanhTien) Đ</span>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Thông tin khách hàng</h3>
                                </div>
                                <div class="panel-body">
                                    <!--Address-->
                                    <!--===================================================-->
                                        <table>
                                            <tr>
                                                <td width="600px">
                                                        <address>
                                                            <strong>Địa chỉ</strong><br>
                                                            @ddh.DiaChi<br>
                                                            <abbr title="Phone">SĐT: @ddh.SoDienThoai
                                                        </address>
                                                </td>
                                                <td width="384px">
                                                        <address>
                                                            <strong>Họ tên</strong><br>
                                                            <a href="#">@ddh.HoVaTen</a><br>
                                                            <strong>Email</strong><br>
                                                            <a href="#">@ddh.Email</a>
                                                        </address>
                                                </td>
                                            </tr>
                                        </table>                                        
                                    <!--===================================================-->
                                </div>
                            </div>
                        </div>			<!--Modal footer-->
                        <div class="modal-footer" style="background-color: #00E6E8;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
        </div>
</div>
<script>
    $('#print_invoice').click(function (e) {
        var id = $('#tinh_trang').attr("data-id");
        if (id == 3 || id == 2) {
            var divToPrint = document.getElementById('detail_invoice');
            var newWin = window.open('', 'Print-Window');
            newWin.document.open();
            newWin.document.write('<html><head>');
            newWin.document.write('<link href="../Content/admin/css/bootstrap.min.css" rel="stylesheet" />' +
                 '<link href="../Content/admin/css/nifty.min.css" rel="stylesheet" />');
            newWin.document.write('</head><body onload="window.print()"><div class="row" style="width:800px;margin-left:100px;">');
            newWin.document.write(divToPrint.innerHTML);

            newWin.document.write('</div></body>');
            newWin.document.close();
            setTimeout(function () { newWin.close(); }, 10000);
        }
        else {
            swal("Lỗi!", "Đơn hàng này chưa duyệt cho khách không thể in hóa đơn!", "error");
        }
    });
</script>

