
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using Petsmart.Models
@model PagedList.IPagedList<Petsmart.Models.DonDatHang>
@using PagedList.Mvc;

<div id="page-title">
    <h1 class="page-header text-overflow">Quản Lý Đơn Hàng</h1>
    <!--Searchbox-->
    <div class="searchbox">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Tìm kiếm..">
            <span class="input-group-btn">
                <button class="text-muted" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->
<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a href="#">Trang chủ</a></li>
    <li class="active">Quản Lý Đơn Hàng</li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <!-- Search -->
    <!-- End Search -->
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Quản Lý Đơn Hàng</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-9">
                    @using (Html.BeginForm())
                    {

                        <div class="form-group row">
                            <div class="col-sm-8">
                                <input class="form-control" name="searchString" type="text" placeholder="Tìm kiếm tên khách hàng" id="example-search-input">
                            </div>
                        </div>
                    }

                </div>
                <div class="col-sm-1">
                    <a href="@Url.Action("Index")"><button class="btn btn-default btn-icon btn-circle icon-lg fa fa-refresh"></button></a>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="demo-search-tab-2">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-vcenter mar-top">
                            <thead>
                                <tr>
                                    <th><a href="@Url.Action("Index","AOrders",new { sortOrder = ViewBag.IDSortParm })">#</a></th>
                                    <th class="min-w-td">Icon</th>
                                    <th><a href="@Url.Action("Index","AOrders",new { sortOrder = ViewBag.NameSortParm })">Tên Khách Hàng <i class="fa fa-sort"></i></a></th>
                                    <th><a href="@Url.Action("Index","AOrders",new { sortOrder = ViewBag.DateSortParm })">Ngày Đặt <i class="fa fa-sort"></i></a></th>
                                    <th><a href="@Url.Action("Index","AOrders",new { sortOrder = ViewBag.PriceSortParm })">Tổng tiền <i class="fa fa-sort"></i></a></th>
                                    <th>Trạng Thái</th>
                                    <th class="min-w-td text-center">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="min-w-td">@item.MaDonDatHang</td>
                                            <td><img src="~/Content/images/invoice.png" alt="Profile Picture" class="img img-sm"></td>
                                            <td><a class="btn-link" data-trigger="hover" href="#" id="@item.MaDonDatHang">@item.TaiKhoan.TenHienThi </a></td>
                                            <td><span class="text-muted"><i class="fa fa-clock-o"></i> @string.Format("{0:d/M/yyyy}", @item.NgayLap)</span></td>
                                            <td>@string.Format("{0:0,0}", item.TongThanhTien)đ</td>
                                            <td>
                                                @{
                                                    if (@item.MaTinhTrang  == 1)
                                                    {
                                                        <span class="label label-table label-warning">Chờ duyệt</span>
                                                    }
                                                    else if(@item.MaTinhTrang == 2)
                                                    {
                                                       <span class="label label-table label-info">Đang giao</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-table label-success">Đã giao</span>
                                                    }

                                                }
                                            </td>

                                            <td class="min-w-td text-center">
                                                <div class="btn-group">
                                                    <a class="btn btn-sm btn-default btn-icon btn-hover-success fa fa-pencil add-tooltip" href="#" data-original-title="Cập nhật trạng thái" data-container="body"></a>
                                                    <a class="btn btn-sm btn-default btn-icon btn-hover-info fa fa-info add-tooltip" href="@Url.Action("DetailOrder", new {mdh = @item.MaDonDatHang })" data-original-title="Chi tiết" data-container="body"></a>
                                                </div>
                                            </td>
                                        </tr>
                                     }
                                }

                            </tbody>
                        </table>

                        <hr>
                        <div class="text-right">
                            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

                            @Html.PagedListPager(Model, page => Url.Action("Index",
                                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

