@model Petsmart.Models.TaiKhoan

<style>
    .validationLogin{
        color: red;
    }
   
    button#btnface{
        color:white;
        background-color:#6A7FB4;
    }
</style>

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title">
                    <h2>Đăng nhập hoặc tạo tài khoản</h2>
                </div>
            </div>
            <!--col-xs-12-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</div>

<div class="main-container col1-layout wow bounceInUp animated animated animated" style="visibility: visible;">

    <div class="main">
        <div class="account-login container">
            <!--page-title-->

            <form action="" method="post" id="login-form">
                <input name="form_key" type="hidden" value="EPYwQxF6xoWcjLUr">
                <fieldset class="col2-set">
                    <div class="col-1 new-users">
                        <strong>Khách hàng mới</strong>
                        <div class="content">
                            <p>Bằng cách tạo tài khoản với shop của chúng tôi, bạn sẽ có thể thanh toán nhanh hơn, lưu trữ nhiều địa chỉ giao hàng, xem và theo dõi các đơn đặt hàng trong tài khoản của bạn và hơn thế nữa.</p>
                            <div class="buttons-set">
                                <button type="button" title="Tạo tài khoản" class="button create-account" onclick="window.location.href = '@Url.Action("Register", "Home")';"><span><span>Tạo tài khoản</span></span></button>
                            </div>
                        </div>
                    </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary(true);

                    <div class="col-2 registered-users">
                        <strong>Đăng nhập</strong>
                        <div class="content">

                            <p>Nếu bạn đã có tài khoản, vui lòng đăng nhập.</p>
                            <ul class="form-list">
                                <li>
                                    <label for="email">@Html.LabelFor(e => e.Email)<em class="required">*</em><div class="validationLogin">@Html.ValidationMessageFor(e => e.Email)</div></label>
                                    <div class="input-box">
                                        @Html.TextBoxFor(e => e.Email, new { @class = "input-text required-entry validate-email" ,@required = "true" })
                                    </div>
                                </li>
                                <li>
                                    <label for="pass">@Html.LabelFor(p => p.MatKhau)<em class="required">*</em><div class="validationLogin">@Html.ValidationMessageFor(m => m.MatKhau)</div></label>
                                    <div class="input-box">
                                        @Html.PasswordFor(p => p.MatKhau, new { @class = "input-text required-entry validate-password", @required = "true" })
                                    </div>
                                </li>
                            </ul>
                            <div class="remember-me-popup">
                                <div class="remember-me-popup-head" style="display:none">
                                    <h3 id="text2">What's this?</h3>
                                    <a href="#" class="remember-me-popup-close" onclick="showDiv()" title="Đóng">Close</a>
                                </div>
                                <div class="remember-me-popup-body" style="display:none">
                                    <p id="text1">Đánh dấu "Remember Me" sẽ cho phép bạn truy cập vào giỏ hàng của bạn trên máy tính này khi bạn đã đăng xuất</p>
                                    <div class="remember-me-popup-close-button a-right">
                                        <a href="#" class="remember-me-popup-close button" title="Đóng"><span>Close</span></a>
                                    </div>
                                </div>
                            </div>

                            <p class="required">* Bắt buộc điền</p>



                            <div class="buttons-set">

                                <button type="submit" class="button login" title="Đăng nhập" name="send" id="send2"><span>Đăng nhập</span></button>
                                <a href="@Url.Action("LoginFacebook","Home")" class="forgot-word">
                                    <button type="button" id="btnface" class="button face" title="Đăng nhập facebook" name="send" id="send2">
                                        <span>
                                            Đăng nhập bằng Facebook
                                        </span>
                                    </button>
                                </a>

                                <a href="@Url.Action("ResetPass","Account")" class="forgot-word">Quên mật khẩu?</a>
                            </div> <!--buttons-set-->
                        
                        </div> <!--content-->
                    </div> <!--col-2 registered-users-->
                }
                    
                </fieldset> <!--col2-set-->
            </form>
            
        </div> <!--account-login-->

    </div><!--main-container-->

</div>
<script>

</script>