@model Petsmart.Models.TaiKhoan

<style>
    .validationLogin {
        color: red;
    }

    .TextArea{
        width: 540px;
        height: 100px;
    }
</style>

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title">
                    <h2>Đăng Kí Tài Khoản</h2>
                </div>
            </div>
            <!--col-xs-12-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</div>
<div class="main-container col1-layout wow bounceInUp animated animated animated" style="visibility: visible;">

    <div class="main">
        <div class="account-login container">
            <!--page-title-->

            <form action="" method="post" id="login-form">
                <input name="form_key" type="hidden" value="EPYwQxF6xoWcjLUr">
                <fieldset class="col2-set">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken();
                        @Html.ValidationSummary(true);

                        if(ViewBag.Message != null)
                        {
                            <div style="font-size: 16px; color: red;">@ViewBag.Message</div>
                        }

                        <div class="col-2 registered-users">
                            <strong>Thông tin đăng nhập</strong>
                            <div class="content">
                                <ul class="form-list">
                                    <li>
                                        <label for="email">@Html.LabelFor(e => e.Email)<em class="required">*</em><div class="validationLogin">@Html.ValidationMessageFor(e => e.Email)</div></label>
                                        <div class="input-box">
                                            @Html.TextBoxFor(e => e.Email, new { @class = "input-text required-entry validate-email" })
                                        </div>
                                    </li>
                                    <li>
                                        <label for="pass">@Html.LabelFor(p => p.MatKhau)<em class="required">*</em><div class="validationLogin">@Html.ValidationMessageFor(p => p.MatKhau)</div></label>
                                        <div class="input-box">
                                            @Html.PasswordFor(p => p.MatKhau, new { @class = "input-text required-entry validate-password" })
                                        </div>
                                    </li>
                                    <li>
                                        <label for="pass">@Html.LabelFor(p => p.XacNhanMK)<em class="required">*</em><div class="validationLogin">@Html.ValidationMessageFor(p => p.XacNhanMK)</div></label>
                                        <div class="input-box">
                                            @Html.PasswordFor(p => p.XacNhanMK, new { @class = "input-text required-entry validate-password" })
                                        </div>
                                    </li>
                                </ul>
                                <p class="required">* Thông tin bắt buộc</p>
                                <div class="buttons-set">

                                    <button type="submit" class="button login" title="Đăng nhập" name="send" id="send2"><span>Đăng Kí</span></button>

                                </div>
                            </div>
                        </div>
                        <div class="col-2 registered-users">
                            <strong>Thông tin tài khoản</strong>
                            <div class="content">
                                <ul class="form-list">
                                    <li>
                                        <label for="email">@Html.LabelFor(t => t.TenDangNhap)<em class="required">*</em><div class="validationLogin">@Html.ValidationMessageFor(t => t.TenDangNhap)</div></label>
                                        <div class="input-box">
                                            @Html.TextBoxFor(t => t.TenDangNhap, new { @class = "input-text required-entry validate-email" })
                                        </div>
                                    </li>
                                    <li>
                                        <label for="email">@Html.LabelFor(t => t.TenHienThi)<em class="required">*</em><div class="validationLogin">@Html.ValidationMessageFor(t => t.TenHienThi)</div></label>
                                        <div class="input-box">
                                            @Html.TextBoxFor(t => t.TenHienThi, new { @class = "input-text required-entry validate-email" })
                                        </div>
                                    </li>
                                    <li>
                                        <label for="email">@Html.LabelFor(s => s.DienThoai)<em class="required">*</em><div class="validationLogin">@Html.ValidationMessageFor(s => s.DienThoai)</div></label>
                                        <div class="input-box">
                                            @Html.TextBoxFor(s => s.DienThoai, new { @class = "input-text required-entry validate-email" })
                                        </div>
                                    </li>
                                    <li>
                                        <label for="pass">@Html.LabelFor(d => d.DiaChi)<em class="required">*</em><div class="validationLogin">@Html.ValidationMessageFor(d => d.DiaChi)</div></label>
                                        <div class="input-box">
                                            @Html.TextAreaFor(d => d.DiaChi, new { @class = "TextArea", @rows = 5 })
                                        </div>
                                    </li>
                                </ul>
                                <!--buttons-set-->
                            </div> <!--content-->
                        </div> <!--col-2 registered-users-->
                    }
                </fieldset> <!--col2-set-->
            </form>

        </div> <!--account-login-->

    </div><!--main-container-->

</div>