@using Petsmart.Models;
@using Petsmart.Controllers;
@using PagedList.Mvc;
@model PagedList.IPagedList<SanPham>

@{
    decimal tongtien = 0;
    int count = 0;
    List<ItemCart> cart = new List<ItemCart>();
    if (Session["cart"] != null)
    {
        cart = (List<ItemCart>)Session["cart"];
        count = cart.Count;
        foreach (ItemCart item in cart)
        {
            tongtien += item.Sp.GiaSanPham * item.Soluong;
        }
    }
   
    // Breadcumbs
}
<div class="page-heading">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                            <li class="home"> <a href="@Url.Action("Index", "Home")" title="Đến trang chủ">Trang chủ</a> <span>—› </span> </li>
                    </ul>
                </div>
                <!--col-xs-12-->
            </div>
            <!--row-->
        </div>
        <!--container-->
    </div>
    <div class="page-title">
        <h2>SẢN PHẨM</h2>
    </div>
</div>

<section class="main-container col2-left-layout bounceInUp animated">
    <!-- For version 1, 2, 3, 8 -->
    <!-- For version 1, 2, 3 -->
    <div class="container">
        <div class="row">
            <div class="col-main col-sm-9 col-sm-push-3 product-grid">
                <div class="pro-coloumn">
                    <article class="col-main">
                        <div class="toolbar">
                            <div class="pager">
                                <div class="pages">
                                    <label>Trang: Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</label>
                                    @Html.PagedListPager(Model, page => Url.Action("Search",
                                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                                </div>
                            </div>
                        </div>
                        <div class="category-products">
                            <ol class="products-list" id="products-list">
                                @foreach (var item in Model)
                                {
                                <li class="item first">
                                    <div class="product-image"> <a href="@Url.Action("Detail","Products",new { id = item.MaSanPham})" title="@item.TenSanPham"> <img class="small-image" src="~/Content/images/products/@item.HinhURL" alt="@item.TenSanPham"> </a> </div>
                                    <div class="product-shop">
                                        <h2 class="product-name"><a href="@Url.Action("Detail","Products",new { id = item.MaSanPham})" title="@item.TenSanPham">@item.TenSanPham</a></h2>
                                        <div class="ratings">
                                            <div class="rating-box">
                                                <div style="width:50%" class="rating"></div>
                                            </div>
                                            <p class="rating-links"> <a href="#">1 đánh giá</a> <span class="separator">|</span> <a href="#review-form">Thêm đánh giá</a> </p>
                                        </div>
                                        <div class="desc std">
                                            <p>
                                                @Html.Raw(@item.MoTa)
                                            </p>
                                            
                                        </div>
                                        <div class="price-box">
                                            <p class="special-price"> <span class="price-label"></span> <span id="product-price-212" class="price"> @string.Format("{0:0,0}", @item.GiaSanPham) VNĐ</span> </p>
                                        </div>
                                        <div class="actions" style="display:flex; min-width:500px;">
                                            <a href="@Url.Action("Detail","Products",new { id = item.MaSanPham})" title="@item.TenSanPham"><button class="button btn-cart ajx-cart" title="Xem chi tiết" type="button"><span>Xem chi tiết</span></button></a>
                                            <a href="@Url.Action("OrderNow","ShoppingCart",new { id = item.MaSanPham})" title="@item.TenSanPham"><button class="button btn-cart ajx-cart" title="Thêm vào giỏ" type="button"><span>Thêm vào giỏ</span></button></a>
                                        </div>
                                    </div>
                                </li>
                                }
                            </ol>
                        </div>
                    </article>
                </div>
                <!--	///*///======    End article  ========= //*/// -->
            </div>
            <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated animated" style="visibility: visible;">
                <!-- BEGIN SIDE-NAV-CATEGORY -->
                @{ Html.RenderAction("leftSideLoaiSanPham", "LayoutUser", null); }
                @{ Html.RenderAction("leftSideHangSanXuat", "LayoutUser", null); }
                <div class="custom-slider" style="margin-bottom:20px;">
                    <div>
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li class="active" data-target="#carousel-example-generic" data-slide-to="0"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/Content/user/images/ad-banner1.jpg" alt="slide3">
                                    <div class="carousel-caption">
                                        <h3><a title="Sản phẩm mẫu" href="product-detail.html">Giảm ngay 50%</a></h3>
                                        <p>Phụ kiện cho cún nhân ngày Valentine.</p>
                                        <a class="link" href="#">Mua ngay</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="~/Content/user/images/ad-banner2.jpg" alt="slide1">
                                    <div class="carousel-caption">
                                        <h3><a title="Sản phẩm mẫu" href="product-detail.html">Sản phẩm mới cho Hamster</a></h3>
                                        <p>Ghé shop ngay để lựa chọn những phụ kiện mới nhất cho các bé Hams nhé.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="~/Content/user/images/ad-banner3.jpg" alt="slide2">
                                    <div class="carousel-caption">
                                        <h3><a title="Sản phẩm mẫu" href="product-detail.html">Bộ sưu tập hè</a></h3>
                                        <p>Combo phụ kiện ngày hè cho thú cưng đã có tại shop, hãy nhanh chân lên.</p>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="sr-only">Lui</span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="sr-only">Tiếp</span> </a>
                        </div>
                    </div>
                </div>

                <div class="block block-list block-cart">
                    <div class="block-title"> Giỏ hàng </div>
                    <div class="block-content">
                        <div class="summary">
                            <p class="amount">Đã có <a href="@Url.Action("ViewCart","ShoppingCart")">@count sản phẩm</a> trong giỏ.</p>
                            <p class="subtotal"> <span class="label">Tổng cộng:</span> <span class="price">@string.Format("{0:0,0}", @tongtien) VNĐ</span> </p>
                        </div>
                        @if (Session["cart"] != null)
                        {
                            <a href="@Url.Action("CheckOut", "ShoppingCart")">
                                <div class="ajax-checkout">
                                    <button type="button" title="Thanh toán" class="button button-checkout">
                                        <span>Đặt hàng</span>
                                    </button>
                                </div>
                            </a>
                        }
                        <p class="block-subtitle">Những sản phẩm thêm gần đây</p>
                        <ul id="cart-sidebar" class="mini-products-list">
                            @if (Session["cart"] != null)
                            {
                                foreach (var item in cart)
                                {
                                    <li class="item">
                                        <div class="item-inner">
                                            <a href="#" class="product-image"><img src="~/Content/user/images/@item.Sp.HinhURL" width="80" alt="@item.Sp.TenSanPham"></a>
                                            <div class="product-details">
                                                <div class="access">
                                                    <a href="@Url.Action("RemoveCart","ShoppingCart",new { id = @item.Sp.MaSanPham})" class="btn-remove1">Xóa</a>
                                                    <a href="@Url.Action("ViewCart","ShoppingCart")" title="Chỉnh sửa sản phẩm" class="btn-edit">
                                                        <i class="icon-pencil"></i><span class="hidden">Chỉnh sửa sản phẩm</span>
                                                    </a>
                                                </div>

                                                <strong>@item.Soluong</strong> x <span class="price">@string.Format("{0:0,0}", @item.Sp.GiaSanPham) VNĐ</span>
                                                <p class="product-name"><a href="@Url.Action("Detail","Products",new { id = @item.Sp.MaSanPham })">@item.Sp.TenSanPham</a></p>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="block block-compare">
                    <div class="block-title"> So sánh sản phẩm </div>
                    <div class="block-content">
                        <ol id="compare-items">
                            <li class="item odd">
                                <a href="#" class="btn-remove1" onclick="#"></a>
                                <a class="product-name" href="#">Thức ăn chó 500g</a>
                            </li>
                            <li class="item odd">
                                <a href="#" class="btn-remove1" onclick="#"></a>
                                <a class="product-name" href="#">Thức ăn chó 1kg</a>
                            </li>
                            <li class="item odd">
                                <a href="#" class="btn-remove1" onclick="#"></a>
                                <a class="product-name" href="#">Thức ăn chó 2kg</a>
                            </li>
                            <li class="item odd">
                                <a href="#" class="btn-remove1" onclick="#"></a>
                                <a class="product-name" href="#">Thức ăn chó 4kg</a>
                            </li>
                        </ol>

                        <div class="ajax-checkout">
                            <button type="button" title="So sánh" class="button button-compare" onclick="#"><span>So sánh</span></button>
                            <button class="button button-clear" href="#"><span>Xóa</span></button>
                        </div><!--ajax-checkout-->
                    </div>
                    <!--block-content-->
                </div>
                <!--block block-list block-compare-->


                <div class="block block-poll">
                    <div class="block-title"> Khảo sát </div>
                    <form id="pollForm" action="#" method="post" onsubmit="return validatePollAnswerIsSelected();">
                        <div class="block-content">
                            <p class="block-subtitle">Màu sắc yêu thích của bạn là gì?</p>
                            <ul id="poll-answers">
                                <li class="odd">
                                    <input type="radio" name="vote" class="radio poll_vote" id="vote_1" value="1">
                                    <span class="label">
                                        <label for="vote_1">Xanh lá</label>
                                    </span>
                                </li>
                                <li class="even">
                                    <input type="radio" name="vote" class="radio poll_vote" id="vote_2" value="2">
                                    <span class="label">
                                        <label for="vote_2">Đỏ</label>
                                    </span>
                                </li>
                                <li class="odd">
                                    <input type="radio" name="vote" class="radio poll_vote" id="vote_3" value="3">
                                    <span class="label">
                                        <label for="vote_3">Đen</label>
                                    </span>
                                </li>
                                <li class="last even">
                                    <input type="radio" name="vote" class="radio poll_vote" id="vote_4" value="4">
                                    <span class="label">
                                        <label for="vote_4">Xanh nước biển</label>
                                    </span>
                                </li>
                            </ul>
                            <div class="actions">
                                <button type="submit" title="Bình chọn" class="button button-vote"><span>Bình chọn</span></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="hot-banner"><img src="~/Content/user/images/hot-trends-banner.jpg" alt="banner"></div>
            </aside>
            <!--col-right sidebar-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</section>